{
  "env": {
    "test": {
      "plugins": [
        "@babel/plugin-transform-runtime"
      ]
    }
  },
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            ">= 5% in KR"
          ],
          "node": "current"
        }
      }
    ],
    "@babel/react"
  ]
}